<footer class="bg-white border-t border-gray-400 shadow">
    <div class="container max-w-4xl mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900">Links</h3>
                    <ul class="list-reset items-center text-sm pt-3 list-none px-0">
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="{{ .Site.Params.Notebook }}">Explainer Notebook</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="{{ .Site.Params.Github }}">GitHub</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="{{ .Site.Params.Data }}">Data</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex w-full md:w-1/2">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900">Authors</h3>
                    <ul class="list-reset items-center text-sm pt-3 list-none px-0">
                        {{ range .Site.Params.Authors }}
                        <li>
                            <p class="inline-block text-gray-600 py-1">{{ . }}</p>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>



    </div>
</footer>